body{
    background-color: skyblue;

}

h1{
    color: white;
}

img{
    max-width: 60vw;
    max-height: auto;
}

#content > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}